PORT=3001
MONGO_URI=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=

GMAIL_USER=
GMAIL_APP_PASSWORD=
EMAIL_FROM_NAME=
EMAIL_FROM_ADDRESS=

GOOGLE_CLIENT_ID=
COGNITO_USER_POOL_ID=
COGNITO_APP_CLIENT_ID=

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=

OPENAI_API_KEY=

REDIS_HOST=
REDIS_PORT=
REDIS_CONNECT_TIMEOUT_MS=

QDRANT_URL=
QDRANT_COLLECTION=
QDRANT_CONNECT_TIMEOUT_MS=

CHATBOT_UPLOADS_PREFIX=chatbot-uploads
